html {
    color: white;
}

header {
    text-align: center;
    width: 100%;
    height: 15%;
}

h2 {
    color: yellow;
    margin-top: 1%;
}

.special {
    color: orange;
    font-style: italic;
}

.special2 {
    color: lightgreen;
    font-style: italic;
}

#logo {
    margin-top: 2%;
}

img {
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body {
    margin: 0;
    height: 100%;
    background-color: rgba(28, 29, 37, .9);
}

p {
    color: red;
}

legend {
    color: blueviolet;
    font-weight: bold;
}

fieldset {
    text-align: center;
    font-size: larger;
    float: left;
    width: 30%;
    margin-left: 10%;
    margin-bottom: 2%;
}

.div2,
.div3 {
    clear: both;
}

li,
a {
    color: white;
    text-decoration: none;
    margin-bottom: 3%;
}

a :hover {
    border: 3px solid red;
}

#field5 {
    text-align: center;
    clear: both;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}

footer {
    font-weight: bold;
    color: green;
    clear: both;
    text-align: center;
    border: 2px solid red;
    margin-left: 42%;
    margin-right: 42%;
    padding: 1%;
}