p {
    color: red;
}

body {
    background-color: beige;
}

legend {
    color: blueviolet;
    font-weight: bold;
}

fieldset {
    float: left;
}

footer {
    font-weight: bold;
    color: green;
    clear: both;
}


/*
.div1 {
    float: left;
}*/